h1,h2,h3,h4,h5{color:blue; font-size:200% ; font:bold }
h6,p,h7,{color:blue; font-size:200% ; font:italic }
h8{color:green; font-size:150% ; font:italic }
h9{color:orange; font-size:150% ; font:bold}